absl-py==2.1.0
annotated-types==0.7.0
asgiref==3.8.1
astunparse==1.6.3
blis==1.2.0
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudinary==1.42.2
cloudpathlib==0.21.0
colorama==0.4.6
confection==0.1.5
cryptography==44.0.2
cymem==2.0.11
defusedxml==0.7.1
dj-database-url==2.3.0
Django==5.1.6
django-allauth==65.4.1
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-oauth-toolkit==3.0.1
django-rest-framework-social-oauth2==1.2.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
drf-social-oauth2==3.1.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
filelock==3.13.1
flatbuffers==25.2.10
fsspec==2024.6.1
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
gunicorn==23.0.0
h5py==3.13.0
huggingface-hub==0.29.3
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
jwcrypto==1.5.6

keras==2.15.0

langcodes==3.5.0
language_data==1.3.0
libclang==18.1.1
lxml==5.3.1
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2

mpmath==1.3.0
murmurhash==1.0.12
namex==0.0.8
networkx==3.3

numpy==1.23.5

oauth2_provider==0.0
oauthlib==3.2.2
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.5
pillow==11.1.0
preshed==3.0.9

protobuf==4.23.4

psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyJWT==2.9.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-magic==0.4.27
python3-openid==3.2.0
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
requests-oauthlib==2.0.0
resume==0.12
rich==13.9.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==3.4.1
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.5.3
srsly==2.5.1
sympy==1.13.1
tensorboard==2.15.1

tensorboard-data-server==0.7.2

tensorflow==2.15.0
tensorflow-io-gcs-filesystem==0.32.0



termcolor==2.5.0

thinc==8.3.4
threadpoolctl==3.5.0
tokenizers==0.21.0


torch==2.6.0


torchaudio==2.6.0
tqdm==4.67.1
transformers==4.49.0
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wasabi==1.1.3
weasel==0.4.1
Werkzeug==3.1.3

wrapt==1.14.1

XlsxWriter==3.2.2


uvicorn==0.29.0